.size {
    margin: auto;
    display: block;
    margin-top: 22px;
    width: 200px;
    height: 200px;
}

#pokemons {
    opacity: .7;
}

.border-grid {
    border-radius: 15px;
    border-color: white;
    border-width: 11px;
    border-style:dashed;
}

#grid-pokemons {
    margin-top: 4rem;
}

.col-pokemons {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.button-search {
    color: black;
    background-color: whitesmoke;
    border-radius: 15px;
    border-color: peru;
    border-width: 2px;
    border-style: solid;
}

/* For Phone: */
@media only screen and (min-width: 300px) {

    #pokemons {
        background-color: #FFEA39;
        height: 950px;
    }

    .pokedex-wallpaper {
        background: url() center;
    }

    #grid-pokemons {
        margin-top: 0rem;
    }

    .col-pokemons {
        padding-top: 0.25rem;
        padding-bottom: 2rem;
    }
}

/* For Tablet: */
@media only screen and (min-width: 600px) {

    #pokemons {
        height: 550px;
    }

    .pokedex-wallpaper {
        background: url(./detective-pikachu.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #grid-pokemons {
        margin-top: 4rem;
    }

    .col-pokemons {
        padding-top: 5rem;
        padding-bottom: 11rem;
    }
}
  
/* For Desktop: */
@media only screen and (min-width: 1024px) {

    #pokemons {
        height: 550px;
    }
   
    .pokedex-wallpaper {
        background: url(./detective-pikachu.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #grid-pokemons {
        margin-top: 4rem;
    }

    .col-pokemons {
        padding-top: 5rem;
        padding-bottom: 18rem;
    }
}